<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336053479987-261g8g5tljbbhv345l18t6s9be3i98l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336053479987-261g8g5tljbbhv345l18t6s9be3i98l5</string>
	<key>API_KEY</key>
	<string>AIzaSyDsslDQV7RXaN0CLkdB7oezyJmmegYtO68</string>
	<key>GCM_SENDER_ID</key>
	<string>336053479987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.richielimpijankit.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-a9ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-a9ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336053479987:ios:7450dd2e2ad8afd2e61146</string>
</dict>
</plist>